.navbar a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    text-align: center;
    
    
   
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0,0% , 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: right;
    
}

h1{
    text-align: center;
color: tomato;
}
.navbar a:hover{
    background-color: rgb(148, 127, 255);
}
body {
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar li{
    display: inline-block;
    margin: 28px;
}